html {
  font-size: 18px;
  /* text-size-adjust: 100%; */
  /* line-height: 1.15; */
}

body {
  margin: 0;
  width: 100%;
  
  font-family: ff-good-web-pro-condensed, sans-serif;
}

#main-page{
  background-size: cover;
  height: 100vh;
  width: 100%; 
  background-color: #000;
  background-image: url(/img/main-page/background-19d968e4..webp);
}

